body {
  background-color: white;
  color: black;
}

p {
  color: black;
  font-size: 12px;
  line-height: 14px;
}

.bar {
  background-color: teal;
  display: inline-block;
  height: 75px;
  margin-right: 2px;
  width: 20px;
}

svg .pumpkin {
  fill: yellow;
  stroke: orange;
  stroke-width: 5;
}
